<template>
  <div class="action-switch"
    :class="{ 
    'is-not-visible': !hasPermission(client, actions, group) && !hasRequest(client, group),
    'checked': hasPermission(client, actions, group)
    }">
    <img :src="getIcon()" class="icon" />
    <label class="form-checkbox checkbox-design">
      <input type="checkbox"
        :disabled="device.coordinator_id != control.controller.id"
        :checked="hasPermission(client, actions, group)"
        @click="set_device_permission(client.id, device.id, group)"
        >
      <i class="form-icon checkmark-design"></i> <!-- {{action.id}} -->
    </label>
  </div>
</template>


<script>
import ico_drive from "/node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-up.svg";
import ico_arm from "../assets/arm.svg";
import ico_claw from "../assets/claue.svg";

const ICONS = {
  DRIVE:1,
  CLAW: 2,
  ARM:  3,
}

export default {
  name: 'ActionSwitch',
  props: [
    'device',
    'client',
    'actions',
    'control',
    'group'
  ],
  methods: {
    set_device_permission(client_id, device_id, device_action){
      this.axios.patch("/set_device_permission/"+client_id+"/"+device_id+"/"+device_action)
        .then((response) => {
            //this.update_client(response.data)
        })
        .catch((error) => {
          console.log(error);
        })
    },
    /**
     * returns true if client has
     * made at least one request
     * @param {ClientStatus} client
     * @param {bodyGroup} bodyGroup
     */
    hasRequest(client, bodyGroup) {
      return Object.values(client.requests).find(_a => _a.bodyGroup == bodyGroup)
    },
    /**
     * returns true if client has
     * received at least one permission
     * @param {ClientStatus} client
     * @param {Object.<string, Action>} actions
     * @param {bodyGroup} group
     */
    hasPermission(client, actions, group){
      return Object.values(actions).find(_a => _a.bodyGroup == group).client_id == client.id
    },
    /**
     * returns Icon of appropriate body group
     */ 
    getIcon(){
      if (this.group === ICONS.DRIVE){
        return ico_drive
      }
      else if (this.group === ICONS.CLAW){
        return ico_claw
      }
      else if (this.group === ICONS.ARM){
        return ico_arm
      }
      return ico_drive
    },
  },
};
</script>
<style>
input {
  margin-left: 5rem;
  margin-right: 5rem;
}
label {
  border: 2px;
}
.action-switch {
  display: flex;
  border-radius: 30% / 50%;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
  border-width: 0px;
  background-color: lightgray;
}
.checked {
  background-color: rgb(96, 203, 51);
}
.icon {
  height: 20px;
  width: 20px;
  margin: 0rem 0.2rem;
  margin-left: 0.6rem;
}
.form-checkbox.checkbox-design {
  margin: 0;
  padding: 0rem .4rem 0rem 1rem;
}
.form-checkbox :is(input, input:checked) + .form-icon.checkmark-design {
  opacity: 1;
  background: white;
  border-color: white;
}
.form-checkbox input:checked + .form-icon.checkmark-design::before {
  border-color: black;
  height: 20px;
  width: 10px;
  top: 0%;
}
.is-not-visible {
  opacity: 0;
  max-width: 0px;
  margin: 0%;
  pointer-events: none;
}
</style>