<template>
  <div class="card client-list-card">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" class="title">Usernames</th>
          <th class="title" v-if="currentDevice">Authorizations</th>
        </tr>
      </thead>
        <tbody>
          <tr v-for="client in clients" :key="client.id">
            <td class="client-icon">
              <ClientIcon :class="getClientIconCss(client, currentDevice)" />
            </td>
            <td>
              <div class="name">{{ client.name }}</div>
            </td>
            <td v-if="currentDevice">
              <span
                  v-for="group in currentDevice.availableBodyGroups"
                  :key="group"
              >
                <ActionSwitch
                    :group="group"
                    :actions="currentDevice.actions"
                    :device="currentDevice"
                    :client="client"
                    :control="control"
                />
              </span>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</template>
<script>
import ActionSwitch from "./ActionSwitch.vue";
import ClientIcon from "./ClientIcon.vue";

export default {
  name: 'ClientList',
    components: {
        ActionSwitch,
        ClientIcon,
    },
  props: [
    'clients',
    'currentDevice',
    'control'
  ],
  methods: {
    /**
     * Return true if a client
     * has any permissions on a specific Device
     * @param {ClientStatus} client
     * @param {DeviceStatus} currentDevice
     */
    hasPermission(client, currentDevice) {
        let actions = Object.values(currentDevice.actions)
        for (let i = 0; i < actions.length; i++) {
            if (actions[i].client_id == client.id) {
                return true;
            }
        }
        return false;
    },
    /**
     * Returns true if a client
     * has requested a specific bodyGroup
     * @param {ClientStatus} client
     * @param {bodyGroup} bodyGroup
     */
    hasRequest(client, bodyGroup) {
        for (let i = 0; i < client.requests.length; i++) {
            if (client.requests[i].bodyGroup === bodyGroup) {
                return true;
            }
        }
        return false
    },
    /**
     * Returns true if a client
     * has any requests on the selected Device
     * @param {ClientStatus} client
     * @param {DeviceStatus} currentDevice
     */
    hasAnyRequest(client, currentDevice) {
        for (let i = 0; i < currentDevice.availableBodyGroups.length; i++) {
            if (this.hasRequest(client, currentDevice.availableBodyGroups[i])){
                return true;
            }
        }
        return false;
    },
    /**
     * Returns CSS class name
     * @param {ClientStatus} client
     * @param {DeviceStatus} currentDevice
     */
    getClientIconCss(client, currentDevice) {
        if(!currentDevice){
            return "none"
        }
        if(this.hasPermission(client, currentDevice)){
            return "has-permission"
        }
        if(this.hasAnyRequest(client, currentDevice) && !this.hasPermission(client, currentDevice)){
            return "has-request"
        }
        if(!this.hasAnyRequest(client, currentDevice) && !this.hasPermission(client, currentDevice)){
            return "has-nothing"
        }
    }
  }
}
</script>
<style>
.card.client-list-card {
  border: 0;
}
span {
  display: inline-flex;
}
tr {
  height: 2.8rem;
}
.client-icon {
  width: 1.6rem;
}
.name{
  margin-right: 1rem;
}
.none {
  opacity: 0;
}
.has-permission {
  fill: green;
}
.has-request {
  fill: yellow;
}
.has-nothing {
  fill: red;
}
</style>