<template>
  <div class="showcase-container">
    <Sidebar
    :devices="devices"
    :control="control"
    :currentDevice="currentDevice"
    @changeDevice="currentDevice = $event; set_device()"
    />

  <div class="container">
    <div class="columns">
      <div class="column col-3" style="text-align: center">
        <img :src="neuropil_logo" alt="Neuropil Logo" style="opacity: 1; height: 100px;"/>
      </div>

      <div class="column col-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title h3" style="text-align: center">
              Coordinator
            </div>
          </div>
        </div>
      </div>

      <div class="column col-3" style="text-align: center">
        <img :src="pilar_logo" alt="pi-lar Logo" style="opacity: 1; height: 100px;"/>
      </div>
    </div>

    <div class="columns">
      <div class="column col-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5">{{ control.controller.name }}</div>
          </div>
        </div>
      </div>
      <div class="column col-2">
        <div class="card">
          <div class="card-header" title="Your ID:">
            <div class="card-title h5">Your ID:</div>
          </div>
          <div class="card-body" :title="control.controller.id" v-if="control.controller.id">
            <div class="card-title h5">{{control.controller.id}}</div>
          </div>
        </div>
      </div>
      <div class="column col-2">
        <div class="card form-group">
          <select class="card-header form-select" style="height: auto" v-model="currentDevice" @change="set_device">
            <option v-bind:value="null">None</option>
            <option
              v-for="device in devices"
              :key="device.device_id"
              v-bind:value="device"
            >
              {{ device.id }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column col-4">
        <ClientList
          :clients="clients"
          :currentDevice="currentDevice"
          :Icons="Icons"
                      :control="control"
          ref="clientListReference"
                    />
        <div class="card">
          <div class="card-header">
            <div class="card-title h5">Last Actions</div>
          </div>
        </div>
      </div>
      <div class="column col-2">
        <div class="card TestCard">
          <div class="card-header">
            <div class="card-title h5" style="text-align: center">
              Ownership
            </div>
          </div>
          <div class="card-body">
            <div class="form-group" v-if="currentDevice">
              <select class="form-select" v-if="currentDevice.coordinator_id && currentDevice.coordinator_id == control.controller.id">
                <option
                  selected
                >
                  You are the Owner
                </option>
                <option
                  v-for="coordinator in Object.values(coordinators).filter(_c => _c.id != control.controller.id && _c.intendedDeviceId == currentDevice.id)"
                  :key="coordinator.id"
                  @click="
                    set_device_ownership(coordinator.id, currentDevice.id)
                  "
                >
                  Transfer Ownership to {{ coordinator.name }} - {{coordinator.id}}
                </option>
              </select>
              <select class="form-select" v-else>
                <option v-if="currentDevice.coordinator_id && Object.values(coordinators).find(_c => _c.id == currentDevice.coordinator_id)">
                  {{ Object.values(coordinators).find(_c => _c.id == currentDevice.coordinator_id).name }} has Ownership
                </option>
                <option v-else-if="currentDevice.coordinator_id">
                  {{ currentDevice.coordinator_id }} has Ownership
                </option>
                <option v-else>
                  Nobody has claimed Ownership yet
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="card-title h5" style="text-align: center">Data</div>
          </div>
        </div>
      </div>
    </div>

    <notifications max="3" position="bottom right" group="controlls" />

      <dx-modal
        v-model="isInActive"
        title="Access demo showcase"
        :closable="false"
      >
        <div v-if="request_running == 0">
          <div v-if="control.controller.id == null">
            Do you want to access the demo showcase?<br /><br />
            <div class="input-group">
              <span class="input-group-addon addon">Join demo as:</span>
              <input
                class="form-input input"
                type="text"
                v-model="control.controller.name"
              />
              <button
                class="btn btn-primary input-group-btn btn"
                @click="requestController"
              >
                Join
              </button>
            </div>
          </div>
        </div>
        <div v-if="request_action">{{ request_action }}<br /></div>
        <div v-show="request_running != 0" class="loading loading-lg"></div>
      </dx-modal>
    </div>
  </div>
</template>

<script>
import ClientList from './components/ClientList.vue';
import Sidebar from './components/Sidebar.vue';

import neuropil_logo from "./assets/CyberSecurityMesh.svg";
import pilar_logo from "./assets/pilar_logo.svg";

export default {
  name: "App",
  components: {
    ClientList,
    Sidebar,
  },
  mounted() {
    this.request_running++;
    this.axios
      .get("/status")
      .then((response) => {
        this.update_status(response.data);
      })
      .catch((error) => {
        console.log(error);
      })
      .then(() => {
        this.request_running--;
      });
  },

  sockets: {
    connect: function () {
      console.log("socket connected");
    },
    update_device: function (data) {
      this.update_device(data);
    },
    update_client: function (data) {
      this.update_client(data);
    },
    update_coordinator: function (data) {
      this.update_coordinator(data);
    },
    device_request: function (msg) {
      console.log(
        "Client " +
          msg.client_id +
          " wants to control " +
          msg.bodyGroup +
          " of device"
      );
      this.$notify({
        title: "Device request",
        text:
          "Client " +
          msg.client_id +
          " wants to control " +
          msg.bodyGroup +
          " of device",
        type: "info",
        group: "controlls",
      });
      this.requestedGroup = msg.bodyGroup;
      this.axios
        .get("/status")
        .then((response) => {
          this.update_status(response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  computed: {
    isInActive() {
      return this.control.controller.id == null;
    },
  },
  watch: {
    "control.controller.id"(new_val, old_val) {
      if (old_val) {
        this.sockets.unsubscribe("rm_action" + old_val);
        this.sockets.unsubscribe("update_action" + old_val);
        this.sockets.unsubscribe("device_request_ownership" + old_val);
        this.sockets.unsubscribe("status" + old_val);
      }

      this.sockets.subscribe("status" + new_val, (data) => {
        console.log("socket status", data);
        this.update_status(data);
      });
      this.sockets.subscribe("device_request_ownership" + new_val, (data) => {
        console.log(
          "Client " + data.client_id + " wants to own device " + data.device_id
        );

        this.$notify({
          title: "Device Ownership",
          text:
            "Client " +
            data.client_id +
            " wants to control device " +
            data.device_id,
          type: data,
          group: "ownerships",
        });
      });
      this.sockets.subscribe("rm_action" + new_val, (data) => {
        let action = this.actions.filter((a) => a.id == data.id)[0];
        if (action) {
          console.log("rm permission for  action", action.id, data);
          Object.assign(action, data, { enabled: false });
        }
      });
      this.sockets.subscribe("update_action" + new_val, (data) => {
        let action = this.actions.filter((a) => a.id == data.id)[0];
        if (action) {
          console.log("permission for  action", action.id, data);
          Object.assign(action, data, { enabled: true });
        }
      });
    },
  },
  methods: {
    requestDeviceOwnership(device_id) {
      this.request_running++;
      this.axios
        .post("/request/device/ownership/" + device_id)
        .catch((error) => {
          console.log(error);
          this.request_action = error.message;
        })
        .then(() => {
          this.request_running--;
        });
    },
    requestController() {
      this.request_running++;
      this.axios
        .post("/create_session/" + this.control.controller.name)
        .then((response) => {
          this.control.controller.id = response.data.id;
        })
        .catch((error) => {
          console.log(error);
          this.request_action = error.message;
        })
        .then(() => {
          this.request_running--;
        });
    },
    update_device: function (data) {
      let found = this.devices.find((_d) => _d.id == data.id);
      if (!found) {
        this.devices.push(data);
      } else {
        Object.assign(found, data);
      }
    },
    update_client: function (data) {
      let found = this.clients.find((_d) => _d.id == data.id);
      if (!found) {
        this.clients.push(data);
        this.set_device();
      } else {
        Object.assign(found, data);
      }
    },
    update_coordinator: function (data) {
      let found = this.coordinators.find((_d) => _d.id == data.id);
      if (!found) {
        this.coordinators.push(data);
      } else {
        Object.assign(found, data);
      }
    },
    set_device() {
      let device_id
      if (this.currentDevice) {
        device_id = this.currentDevice.id;
      }
      else {
        device_id = "null"
      }
      this.control.controller.intendedDeviceId = device_id;
      this.clients.forEach((client) => {
        this.axios
          .patch("/set_device/" + client.id + "/" + device_id)
          .then((response) => {
            this.update_client(response.data);
          })
          .catch((error) => {
            console.log(error);
          });
        });
      this.axios
        .post("/set_intent/" + device_id)
        .catch((error) => {
          console.log(error);
          this.request_action = error.message;
        });
    },
    set_device_ownership(client_id, device_id) {
      this.axios
        .post("/set/device/ownership/" + device_id + "/" + client_id)
        .catch((error) => {
          console.log(error);
        });
    },
    update_status(status_data) {
      this.devices.splice(0);
      this.devices.push(...Object.values(status_data.devices));
      this.clients.splice(0);
      this.clients.push(...Object.values(status_data.clients));
      this.coordinators.splice(0);
      this.coordinators.push(...Object.values(status_data.coordinators));
      this.control.controller.id = status_data.node_id;
      this.control.controller.name = status_data.name;
      if (!this.currentDevice) {
        this.currentDevice = Object.values(this.devices)[0];
        this.set_device()
      }
    },
  },
  data() {
    return {
      request_running: 0,
      request_action: "",

      pilar_logo: pilar_logo,
      neuropil_logo: neuropil_logo,

      control: {
        controller: {
          id: null,
          name: "Hans",
        },
      },
      currentDevice: null,
      requestedGroup: null,
      devices: [],
      clients: [],
      coordinators: [],
      actionGroups: {
        0: "Others",
        1: "Drive",
        2: "Claw",
        3: "Lift",
        4: "Camera"
      }
    };
  },
};
</script>

<style scoped>
.columns {
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 60px;
}
.card-title, option {
  overflow: hidden;
  text-overflow: ellipsis;
}
.card.TestCard {
  margin-bottom: 70px;
}
.id_width {
  width: 65ch;
}
.showcase-container {
  display: flex;
}
</style>