<template>
  <div>
    <button :class="{toggled:action.is_active, disabled: !action.enabled, btn:true,btn_action:true}" @click="toggle">
      <img :src="action.icon" />
    </button>
  </div>
</template>

<script>
export default {
  name: 'ActionButton',
  props: [
    'action'
  ],
  methods:{
    toggle(){
      this.axios.post("/action/"+this.action.device_id+"/"+this.action.id)
      .catch((error) => {
        console.log(error);
      })
    }
  },
  data() {
    return {
    }
  }
}
</script>
<style scoped>
button{
  background-color: limegreen;
  padding:0.2rem;
  width: 2.4rem;
  height: 2.4rem;
}
.toggled{
  background-color: green;
  outline: black inset 1px;
}
.disabled{
  background-color: #f07e75;
}
.toggled.disabled{
  background-color: red;
  outline: black inset 1px;
}
img{
  width: 2rem;
  height: 2rem;
}
</style>