<template>
  <div>
    <div class="container">
      <div class="columns">
        <div class="column col-6 left"><ActionButton :action="actions['claw_open']"/></div>
        <div class="column col-6 right"><ActionButton :action="actions['claw_close']"/></div>
      </div>
    </div>
  </div>  
</template>

<script>
import ActionButton from './ActionButton.vue'

export default {
  name: 'ClawActions',
    components: {
    ActionButton
  },
  props: [
    'actions'
  ],
  data() {
    return {
    }
  }
}
</script>

<style scoped>
.column.right{
  display: flex;
  justify-content: flex-start;
}
.column.left{
  display: flex;
  justify-content: flex-end;
}
</style>