<template>
  <div>
    <div class="container">
      <div class="columns">
        <div class="column col-4"></div>
        <div class="column col-4"><ActionButton :action="actions['forward']"/></div>
        <div class="column col-4"></div>
      </div>
<br/>
      <div class="columns">
        <div class="column col-4"><ActionButton :action="actions['left']"/></div>
        <div class="column col-4"><ActionButton :action="actions['reverse']"/></div>
        <div class="column col-4"><ActionButton :action="actions['right']"/></div>
      </div>
    </div>
  </div>  
</template>

<script>
import ActionButton from './ActionButton.vue'

export default {
  name: 'MovementActions',
    components: {
    ActionButton
  },
  props: [
    'actions'
  ],
  data() {
    return {
    }
  }
}
</script>