<template>
    <div class="sidebar">
        <img :src="neuropil_logo" alt="Neuropil Logo"/>
        <hr>
        <h2><a :href="url">Coordinator</a></h2>
        <!-- <button
            v-for="device in devices"
            :key="device.device_id"
            @click="$emit('changeDevice', device)"
            class="btn"
            :class="{ 'selected':device == currentDevice }"
        >
            <div>
                {{ device.id }}
            </div>
            <i class="icon access-icon icon-people text-success" :class="{ 'provided':device.coordinator_id == control.controller.id }"></i>
        </button> -->
        <h2 class="selected">Controller</h2>
        <button
            v-for="device in devices"
            :key="device.id"
            @click="$emit('changeDevice', device.id)"
            class="btn"
            :class="{ 'selected':device.id == current_device_id }"
        >
            <div>
                {{ device.id }}
            </div>
            <i class="icon access-icon icon-shutdown text-success" :class="{ 'provided':hasPermission(control.controller, device) }"></i>
        </button>
    </div>
</template>
<script>
import neuropil_logo from "../assets/CyberSecurityMesh.png";
import PermissionIcon from "./ClientIcon.vue";

export default {
    name: 'Sidebar',
    components: {PermissionIcon},
    props: [
        'devices',
        'control',
        'current_device_id',
    ],
    methods: {
        /**
         * takes the url of the original site and
         * returns the url of coordinator site
         * @param {string} url
         * @returns {string}
         */
        replaceUrl(url){
            return url
            .replace('8000', '9000')
            .replace('10000', '20000')
            .replace('controller', 'coordinator')
        },
        /**
         * Return true if a client
         * has any permissions on a specific Device
         * @param {ClientStatus} client
         * @param {DeviceStatus} currentDevice
         * @returns {boolean}
         */
        hasPermission(client, currentDevice) {
            let actions = Object.values(currentDevice.actions)
            for (let i = 0; i < actions.length; i++) {
                if (actions[i].client_id == client.id && actions[i].enabled) {
                    return true;
                }
            }
            return false;
        },
    },
    data() {
        return {
            neuropil_logo,
            url: this.replaceUrl(window.location.href)
        }
    },
}
</script>
<style>
hr {
    border-color: white;
    width: 100%;
}
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 100vh;
  padding: 3rem 1rem 0 1rem;
  background-color: #0E0E23;
  overflow: hidden;
}
.sidebar button {
  border: 0;
  border-radius: 10px;
  background-color: #0E0E23;
  width: 75%;
  height: 2rem;
  padding: 0.25rem;
  align-self: center;
  position: relative;
}
.sidebar button div {
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    color: grey;
}
.sidebar h2 {
  border: 0;
  border-radius: 10px;
  margin-top: 3rem;
  padding: 5%;
}
.sidebar h2 a {
  color: grey;
  text-decoration: none;
}
.sidebar button.selected, .selected {
    background-color: #3C438E;
    color: white;
}
button.selected div {
    color: white;
}
button i.access-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%,-50%);
    display: none;
}
button i.access-icon.provided {
    display: inline;
}
</style>