<template>  
  <div class="showcase-container">
    <Sidebar
    :devices="devices"
    :control="control"
    :current_device_id="current_device_id"
    @changeDevice="current_device_id = $event"
    />
  <div class="container">
    <div class="columns">
      <div class="column col-3" style="text-align: center">
        <img :src="neuropil_logo" alt="Neuropil Logo" />
      </div>

      <div class="column col-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title h3" style="text-align: center;">Controller</div>
          </div>
        </div>
      </div>

      <div class="column col-3" style="text-align: center">
        <img :src="pilar_logo" alt="pi-lar Logo" />
      </div>
    </div>

    <div class="columns">
      <div class="column col-2">
        <div class="card">
          <div class="card-header" v-if="control.controller.name">
            <div class="card-title h5">{{control.controller.name}}</div>
          </div>
        </div>
      </div>

      <div class="column col-2">
        <div class="card">
          <div class="card-header" title="Your ID:">
            <div class="card-title h5">Your ID:</div>
          </div>
          <div class="card-body" :title="control.controller.id" v-if="control.controller.id">
            <div class="card-title h5">{{control.controller.id}}</div>
          </div>
        </div>
      </div>

      <div class="column col-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5">"Your Device"</div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns" style="display:none"><!--TODO: remove on data or video implementation-->
      <div class="column col-4">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5" style="text-align: center;">Camera</div>
          </div>
          <div class="card-body">
            <iframe
            width="500"
            height="255"
            src="https://www.youtube.com/embed/live_stream?channel=UCRQYR9qe9TLb4yhcluNlAsQ&autoplay=1&controls=0"
            allow='autoplay'
            frameborder="0"
            />
          </div>
        </div>
      </div>

      <div class="column col-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5" style="text-align: center;">Data</div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column col-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5" style="text-align: center;">Movement</div>
          </div>
          <div class="card-body" v-if="current_device_id">
            <MovementActions :actions="devices.find((_d) => _d.id == current_device_id).actions" />
          </div>
          <div class="card-body" v-else>
            <MovementActions :actions="actions" />
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" @click="requestDevice(1)">Request</button>
          </div>
        </div>
      </div>

      <div class="column col-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5" style="text-align: center;">Arm</div>
          </div>
          <div class="card-body" v-if="current_device_id">
            <ArmActions :actions="devices.find((_d) => _d.id == current_device_id).actions" />
          </div>
          <div class="card-body" v-else>
            <ArmActions :actions="actions" />
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" @click="requestDevice(3)">Request</button>
          </div>
        </div>
      </div>

      <div class="column col-2">
        <div class="card">
          <div class="card-header">
            <div class="card-title h5" style="text-align: center;">Claw</div>
          </div>
          <div class="card-body" v-if="current_device_id">
            <ClawActions :actions="devices.find((_d) => _d.id == current_device_id).actions" />
          </div>
          <div class="card-body" v-else>
            <ClawActions :actions="actions" />
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" @click="requestDevice(2)">Request</button>
          </div>
        </div>
      </div>
    </div>
    <dx-modal
      v-model="isInActive"
      title="Access demo showcase"
      :closable="false"
      v-if="control.controller.id == null"
      >
      <div v-if="request_running == 0">
        <div v-if="control.controller.id == null">
          Do you want to access the demo showcase?<br/><br/>
          <div class="input-group">
            <span class="input-group-addon addon">Join demo as:</span>
            <input class="form-input input" type="text" v-model="control.controller.name">
            <button class="btn btn-primary input-group-btn btn" @click="requestController">Join</button>
          </div>
        </div>
      </div>
      <div v-if="request_action">
        {{request_action}}<br/>
      </div>
      <div v-show="request_running != 0" class="loading loading-lg"></div>
    </dx-modal>
  </div>
  </div>
</template>

<script>
import ico_bot_right  from "/node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-right.svg"
import ico_bot_left   from "/node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-left.svg"
import ico_bot_up     from "/node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-up.svg"
import ico_bot_down   from "/node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-down.svg"

import ico_claw_close from "./assets/drawing_close.svg"
import ico_claw_open  from "./assets/drawing_open.svg"
import ico_arm_up     from "./assets/drawing_up.svg"
import ico_arm_down   from "./assets/drawing_down.svg"

import neuropil_logo  from "./assets/CyberSecurityMesh.svg"
import pilar_logo     from "./assets/pilar_logo.svg"

import Sidebar from './components/Sidebar.vue'
import ArmActions from './components/ArmActions.vue'
import ClawActions from './components/ClawActions.vue'
import MovementActions from './components/MovementActions.vue'
import YouTube from 'vue3-youtube'

let supported_actions = [
  "claw_open",
  "claw_close",
  "arm_up",
  "arm_down",
  "forward",
  "reverse",
  "left",
  "right",
];

export default {
  name: 'App',
  components: {
    Sidebar,
    ArmActions,
    ClawActions,
    MovementActions,
    YouTube
  },
  computed:{
    has_device_control() {
      let ret = false;
      for(let id of supported_actions)
      {
        let action = this.actions.filter(a=>a.id == id)[0]
        if(action.enabled)
          ret = true;        
      }
      return ret;
    },
    control_id() {
      let ret = "Currently no device control available"
      if(this.has_device_control) {
        ret = "Controlling device"
        for(let id of supported_actions) {
          let action = this.actions.filter(a=>a.id == id)[0]
          if(action.enabled)
            ret += " "+action.id
        }
      }
      return ret;
    },
    isInActive() {
      return this.control.controller.id == null || !this.has_device_control;
    }
  },
  mounted(){
      this.request_running++;
      this.axios.get("/status")
        .then((response) => {
          this.request_action = response.data.action;
          this.control.controller.id = response.data.node_id;
          this.control.controller.name = response.data.name;
        })
        .catch((error) => {
          // pass
        })
        .then(() => {
          this.request_running--;
        });
  },
  sockets: {
      connect: function () {
          console.log('socket connected')
      },
  },
  watch:{
      "control.controller.id"(new_val,old_val){
        if(old_val){
          this.sockets.unsubscribe('rm_action'+old_val);
          this.sockets.unsubscribe('update_action'+old_val);
          this.sockets.unsubscribe('add_new_device');
        }
        
        this.sockets.subscribe('rm_action'+new_val, (data) => {
          let device = this.devices.find((_d) => _d.id == data.device_id)
          let action = device.actions[data.id];
          if(action){
            console.log("rm permission for  action", action.id, data);
            Object.assign(action, data, {enabled:false});
          }
        });
        this.sockets.subscribe('update_action'+new_val, (data) => {
          let device = this.devices.find((_d) => _d.id == data.device_id)
          let action = device.actions[data.id];
          if(action){
            console.log("permission for  action", action.id, data);
            Object.assign(action, data, {enabled:true});
          }
        });
        this.sockets.subscribe('add_new_device', (data) => {
          let device = this.devices.find((_d) => _d.id == data.id);
          if (!device) {
            let is_first_device = this.devices.length == 0
            this.devices.push(data);
            device = this.devices.find((_d) => _d.id == data.id);
            for (let [key, value] of Object.entries(this.actions)){
              Object.assign(device.actions[key], value);
            }
            if(is_first_device) this.current_device_id = device.id
          }
        });
      }
  },
  methods:{
    requestController() {
      this.request_running++;
      this.axios.post("/create_session/"+this.control.controller.name)
        .then((response) => {
          this.control.controller.id = response.data.id;          
        })
        .catch((error) => {
          console.log(error);
          this.request_action = error.message;
        })
        .then(() => {
          this.request_running--;
        });      
    },
    requestDevice(bodyGroup){
      this.request_running++;
      this.axios.post("/request_device/"+bodyGroup)
        .catch((error) => {
          console.log(error);
          this.request_action = error.message;
        })
        .then(() => {
          this.request_running--;
        });  
    },
  },
  data() {
    return {
      request_running:0,
      request_action:"",

      pilar_logo:pilar_logo,
      neuropil_logo:neuropil_logo,

      devices: [],
      current_device_id:"",

      control:{
        controller:{
          id:null,
          name:"Peter"
        }
      },
      actions:{
        "claw_open": {
          icon: ico_claw_open,
          id:"claw_open",
          enabled: false
        },
        "claw_close": {
          icon: ico_claw_close,
          id:"claw_close",
          enabled: false
        },
        "arm_up": {
          icon: ico_arm_up,
          id:"arm_up",
          enabled: false
        },
        "arm_down": {
          icon: ico_arm_down,
          id:"arm_down",
          enabled: false
        },
        "forward": {
          icon: ico_bot_up,
          id:"forward",
          enabled: false
        },
        "reverse": {
          icon: ico_bot_down,
          id:"reverse",
          enabled: false
        },
        "left": {
          icon: ico_bot_left,
          id:"left",
          enabled: false
        },
        "right": {
          icon: ico_bot_right,
          id:"right",
          enabled: false
        }
      }
    }
  }
}
</script>

<style scoped>
.columns{
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 60px;
}
.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
}
.container.disabled{  
  pointer-events:none;
}
.youtube{
   border-left: 6px solid grey;
   padding-left: 4.5rem;
   padding-right: 4.5rem;
}
img{
  height: 100px;
}
.showcase-container {
  display: flex;
}
</style>